.header {
  background-color: #272B30;
  padding: 10px 0;
  border-bottom: 1px solid rgba(28,28,28,.6);
  text-shadow: 1px 1px 1px rgb(0 0 0 / 30%);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100000;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  flex-grow: 1;
  margin-bottom: 9px;
}
.favorite_page {
  margin-left: 40px;
}
